<!-- <p>welcome works!</p> -->

<nav  class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a style="color : green" class="navbar-brand">Ecommerce Website</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>


<!-- <h4 style = "text-align: center;">Ecommerce Website</h4> -->
<br>
<br>
<!-- <h6 style="text-align:center;">To show list of Products click here...</h6> -->
<div class="container" style="margin-left: 570px;">
    <button style = "background-color: lightseagreen;" routerLink="merchent" class="btn btn-info">Merchent</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <h6 style="text-align:center;">To show list of Categorie click here...</h6> -->
<div class="container" style="margin-left: 570px;">
    <button style = "background-color: lightseagreen;" routerLink="buyer" class="btn btn-info">Buyer</button>
</div>

